/* 
CSS HEX
--rich-black-fogra-29: #0f1626ff;
--chinese-red: #b02e0cff;
--snow: #f4ededff;
--eerie-black: #1b2021ff;
--green-blue-crayola: #2892d7ff;
*/

:root {
  --accent: #181D27;
  --focus: #247BA0;
  --background: #f4ededff;
  --text: #1b2021ff;
  --hyerlink: #2892d7ff;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background);
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--text);
  background-color: var(--background);

}

h1, h2 {
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-size: 25px;
}
.navbar {
  background-color: var(--accent) !important;
  padding: 0;
}

.navbar .nav-link {
  color: var(--background);
  background-color: var(--accent);
  border-radius: 0px;
  height: 40px;
  border: 0px;
}

.navbar .nav-link:hover {
  background-color: var(--focus);
}

.top {
  text-align: left;
  display: inline-flex;
  padding-bottom: 20px;
}

.projects-page,
.home, .project {
  margin: 20px;
  min-height: 80vh;
}

.projects-page h1 {
  margin: 20px;
}

.proj-card {
  margin:0px 20px;
  border-radius: 10px;
}

.accordion {
  text-align: left;
}
.proj-card-title {
  font-family: 'Comfortaa', cursive;
}

.btn {
  background-color: var(--accent) !important;
  color: var(--background);
  border: none !important;
}

.btn:hover {
  background-color: var(--focus) !important;
}

#placeholder {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  min-height: 70vh;
  margin: 1% auto;
}

footer {
  display: flex;
  background-color: var(--accent);
  color: var(--background);
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0px;
}

footer a {
  text-decoration-line: none;
  color: var(--hyerlink);
}